[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
arrow = "==1.2.*"
fire = "==0.5.*"
loguru = "==0.7.*"
tenacity = "==8.2.*"
schedule = "==1.2.*"
ratelimit = "==2.2.*"
python-socketio = {version = "<5", extras = ["client"]}
numpy = "==1.24.*"
httpx = {version = "==0.24.*", extras = ["http2"]}
pyjwt = "==2.7.*"
python-engineio = {editable = true, ref = "v3.14.3", git = "https://github.com/hldh214/python-engineio-3-for-lokbot"}

[dev-packages]

[requires]
python_version = "3.10"
