anyio==3.5.0
arrow==1.2.2
certifi==2021.10.8
charset-normalizer==2.0.12
colorama==0.4.4
fire==0.4.0
h11==0.12.0
h2==4.1.0
hpack==4.0.0
httpcore==0.14.7
httpx==0.22.0
hyperframe==6.0.1
idna==3.3
loguru==0.6.0
numpy==1.22.3
python-dateutil==2.8.2
python-engineio==3.14.2
python-socketio==4.6.1
ratelimit==2.2.1
requests==2.27.1
rfc3986==1.5.0
schedule==1.1.0
six==1.16.0
sniffio==1.2.0
tenacity==8.0.1
termcolor==1.1.0
urllib3==1.26.8
websocket-client==1.3.1
win32-setctime==1.1.0
